include /manual.pug

+page("ObjectTalk 3D Tutorial")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown-it tutorials/3d/toc.md

			+manual-content()
				+manual-chapter("overview", "Overview")
					include:markdown-it tutorials/3d/overview.md

				+manual-chapter("fundamentals", "Fundamentals")
					include:markdown-it tutorials/3d/fundamentals.md

					
				+manual-chapter("geometries", "Geometries")
					include:markdown-it tutorials/3d/geometries.md

		include common/footer.pug
