include /manual.pug

+page("ObjectTalk Architecture")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown architecture/toc.md

			+manual-content()
				+manual-chapter("overview", "Architecture Overview")
					include:markdown architecture/overview.md

				+manual-chapter("software", "Software Architecture")
					include:markdown architecture/software.md

				+manual-chapter("runtime", "Runtime Architecture")
					include:markdown architecture/runtime.md

		include common/footer.pug
