include /manual.pug

+page("ObjectTalk Classes")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown classes/toc.md

			+manual-content()
				+manual-chapter("classes", "ObjectTalk Classes")
					include:markdown classes/classes.md

				+manual-chapter("object", "Object Class")
					include:markdown classes/object.md

				+manual-chapter("primitive", "Primitive Class")
					include:markdown classes/primitive.md

				+manual-chapter("boolean", "Boolean Class")
					include:markdown classes/boolean.md

				+manual-chapter("integer", "Integer Class")
					include:markdown classes/integer.md

				+manual-chapter("real", "Real Class")
					include:markdown classes/real.md

				+manual-chapter("string", "String Class")
					include:markdown classes/String.md

				+manual-chapter("function", "Function Class")
					include:markdown classes/function.md

				+manual-chapter("collection", "Collection Class")
					include:markdown classes/collection.md

				+manual-chapter("array", "Array Class")
					include:markdown classes/array.md

				+manual-chapter("dict", "Dict Class")
					include:markdown classes/dict.md

				+manual-chapter("set", "Set Class")
					include:markdown classes/set.md

				+manual-chapter("stream", "Stream Class")
					include:markdown classes/system.md

				+manual-chapter("cout", "Cout Class")
					include:markdown classes/cout.md

				+manual-chapter("cerr", "Cerr Class")
					include:markdown classes/cerr.md

				+manual-chapter("system", "System Class")
					include:markdown classes/system.md

				+manual-chapter("path", "Path Class")
					include:markdown classes/path.md

				+manual-chapter("os", "OS Class")
					include:markdown classes/os.md

				+manual-chapter("fs", "FS Class")
					include:markdown classes/fs.md

				+manual-chapter("io", "IO Class")
					include:markdown classes/io.md

		include common/footer.pug
