include /manual.pug

+page("ObjectTalk Guide")
	+manual()
		+manual-header("img/icon.png", "Documentation")
			+manual-link("Tour", "tour.html")
			+manual-link("Guide", "guide.html")
			+manual-link("Reference", "reference.html")
			+manual-link("Install", "installation.html")
			+manual-link("Tutorial", "tutorial.html")

		+manual-body()
			+manual-toc("ObjectTalk Guide")
				include:markdown-it guide/toc.md

			+manual-content()
				+manual-chapter("basics", "The Basics")
					include:markdown-it guide/basics.md

				+manual-chapter("collections", "Collections")
					include:markdown-it guide/collections.md

				+manual-chapter("operators", "Operators")
					include:markdown-it guide/operators.md

				+manual-chapter("flow", "Control Flow")
					include:markdown-it guide/flow.md

				+manual-chapter("scope", "Scope")
					include:markdown-it guide/scope.md

				+manual-chapter("modules", "Modules")
					include:markdown-it guide/modules.md

				+manual-chapter("classes", "Classes")
					include:markdown-it guide/classes.md

				+manual-chapter("functions", "Functions")
					include:markdown-it guide/functions.md

		+manual-footer("1993-2021", "Johan A. Goossens")
