include /manual.pug

+page("HTTP Module")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown modules/http/toc.md

			+manual-content()
				+manual-chapter("overview", "HTTP Module")
					include:markdown modules/http/overview.md

				+manual-chapter("url", "URL")
					include:markdown modules/http/url.md

				+manual-chapter("server", "Server")
					include:markdown modules/http/server.md

				+manual-chapter("router", "Router")
					include:markdown modules/http/router.md

				+manual-chapter("request", "Request")
					include:markdown modules/http/request.md

				+manual-chapter("response", "Response")
					include:markdown modules/http/response.md

		include common/footer.pug
