include /manual.pug

+page("ObjectTalk Documentation")
	+manual()
		+manual-header("img/icon.png", "Documentation")
			+manual-link("Installation", "installation.html")
			+manual-link("Tour", "tour.html")
			+manual-link("Guide", "guide.html")
			+manual-link("Reference", "reference.html")
			+manual-link("Tutorial", "tutorial.html")

		+manual-body()
			+manual-toc("Overview")
				include:markdown-it toc.md

			+manual-content()
				+manual-chapter("intro", "")
					include:markdown-it intro.md

		+manual-footer("1993-2021", "Johan A. Goossens")
