include /manual.pug

+page("ObjectTalk Documentation")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown general/main/toc.md

			+manual-content()
				+manual-chapter("introduction", "Introduction")
					include:markdown general/main/introduction.md

				+manual-chapter("background", "Background")
					include:markdown general/main/background.md

				+manual-chapter("language", "Language")
					include:markdown general/main/language.md

				+manual-chapter("graphics", "Graphics")
					include:markdown general/main/graphics.md

				+manual-chapter("nodes", "Nodes")
					include:markdown general/main/nodes.md

				+manual-chapter("scenes", "Scenes")
					include:markdown general/main/scenes.md

				+manual-chapter("ide", "IDE")
					include:markdown general/main/ide.md

		include common/footer.pug
