include /manual.pug

+page("ObjectTalk Documentation")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown main/toc.md

			+manual-content()
				+manual-chapter("intro", "")
					include:markdown main/intro.md

		include common/footer.pug
