include /manual.pug

+page("ObjectTalk Installation Guide")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown general/installation/toc.md

			+manual-content()
				+manual-chapter("overview", "Installation")
					include:markdown general/installation/overview.md

				+manual-chapter("macos", "Build and Install on MacOS")
					include:markdown general/installation/macos.md

				+manual-chapter("linux", "Build and Install on Linux")
					include:markdown general/installation/linux.md

				+manual-chapter("windows", "Build and Install on Windows")
					include:markdown general/installation/windows.md

				+manual-chapter("running", "Running ObjectTalk")
					include:markdown general/installation/running.md

		include common/footer.pug
