include /manual.pug

+page("ObjectTalk Reference")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown language/language/toc.md

			+manual-content()
				+manual-chapter("overview", "Language Definition")
					include:markdown language/language/overview.md

				+manual-chapter("module", "module")
					include:markdown language/language/module.md

				+manual-chapter("statement", "statement")
					include:markdown language/language/statement.md

				+manual-chapter("block", "block")
					include:markdown language/language/block.md

				+manual-chapter("expression", "expression")
					include:markdown language/language/expression.md

				+manual-chapter("conditional", "conditional")
					include:markdown language/language/conditional.md

				+manual-chapter("or", "or")
					include:markdown language/language/or.md

				+manual-chapter("and", "and")
					include:markdown language/language/and.md

				+manual-chapter("bytewise-or", "bytewise-or")
					include:markdown language/language/bytewise-or.md

				+manual-chapter("bytewise-xor", "bytewise-xor")
					include:markdown language/language/bytewise-xor.md

				+manual-chapter("bytewise-and", "bytewise-and")
					include:markdown language/language/bytewise-and.md

				+manual-chapter("equal", "equal")
					include:markdown language/language/equal.md

				+manual-chapter("relation", "relation")
					include:markdown language/language/relation.md

				+manual-chapter("shift", "shift")
					include:markdown language/language/shift.md

				+manual-chapter("addition", "addition")
					include:markdown language/language/addition.md

				+manual-chapter("multiplication", "multiplication")
					include:markdown language/language/multiplication.md

				+manual-chapter("prefix", "prefix")
					include:markdown language/language/prefix.md

				+manual-chapter("postfix", "postfix")
					include:markdown language/language/postfix.md

				+manual-chapter("primary", "primary")
					include:markdown language/language/primary.md

				+manual-chapter("integer", "integer")
					include:markdown language/language/integer.md

				+manual-chapter("real", "real")
					include:markdown language/language/real.md

				+manual-chapter("string", "string")
					include:markdown language/language/string.md

				+manual-chapter("function", "function")
					include:markdown language/language/function.md

				+manual-chapter("name", "name")
					include:markdown language/language/name.md

		include common/footer.pug
