include /manual.pug

+page("Nodes Reference")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown nodes-reference/toc.md

			+manual-content()
				+manual-chapter("reference", "Nodes Reference")
					include:markdown nodes-reference/nodes.md

				+manual-chapter("field", "Field Nodes")
					include:markdown nodes-reference/field/doc.md

				+manual-chapter("filter", "Filter Nodes")
					include:markdown nodes-reference/filter/doc.md

				+manual-chapter("generator", "Generator Nodes")
					include:markdown nodes-reference/generator/doc.md

				+manual-chapter("geometry", "Geometry Nodes")
					include:markdown nodes-reference/geometry/doc.md

				+manual-chapter("input", "Input Nodes")
					include:markdown nodes-reference/input/doc.md

				+manual-chapter("manifold", "Manifold Nodes")
					include:markdown nodes-reference/manifold/doc.md

				+manual-chapter("map", "Map Nodes")
					include:markdown nodes-reference/map/doc.md

				+manual-chapter("math", "Map Nodes")
					include:markdown nodes-reference/math/doc.md

		include common/footer.pug
