include /manual.pug

+page("Scenes Reference")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown scenes-reference/toc.md

			+manual-content()
				+manual-chapter("reference", "Scenes Reference")
					include:markdown scenes-reference/scenes.md

		include common/footer.pug
