include /manual.pug

+page("Nodes Overview")
	+manual()
		include common/header.pug

		+manual-body()
			+manual-toc()
				include:markdown scenes-overview/toc.md

			+manual-content()
				+manual-chapter("overview",  "Scenes Overview")
					include:markdown scenes-overview/overview.md

		include common/footer.pug
