body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
	color: #000;
}

:is(h1, h2, h3, h4, h5, h6) {
	clear: both;
}

pre {
	background: #eee;
	padding-left: 24px;
	tab-size: 4;
}

img[src*="#left"] {
	float: left;
	margin-right: 20px;
}

img[src*="#right"] {
	float: right;
	margin-left: 20px;
}

img[src*="#center"] {
	display: block;
	margin: auto;
}

.manual-header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}

.manual-toc {
	border-right: 2px solid #ddd;
}

.manual-toc ul {
	list-style-position: inside;
	padding-inline-start: 8px;
}

.manual-content ul p {
	margin-bottom: 0px;
}

.manual-footer {
	border-top: 1px solid #ddd;
	color: #555;
}
