body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
	color: #000;
}

pre {
	background: #eee;
	padding-left: 24px;
	tab-size: 4;
}

.manual-header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}

.manual-toc {
	border-right: 2px solid #ddd;
}

.manual-toc ul {
	list-style-position: inside;
	padding-inline-start: 8px;
}

.manual-content ul p {
	margin-bottom: 0px;
}

.manual-footer {
	border-top: 1px solid #ddd;
	color: #555;
}
