+manual-header("img/icon.png", "Documentation")
	+manual-link("Installation", "installation.html")
	+manual-link("Tour", "tour.html")
	+manual-link("Guide", "guide.html")
	+manual-menu("Reference")
		+manual-menu-item("Language", "language.html")
		+manual-menu-item("Classes", "classes.html")
	+manual-menu("Tutorials")
		+manual-menu-item("Web", "web.html")
		+manual-menu-item("3D", "3d.html")
