+manual-header("img/icon.png", "Documentation")
	+manual-menu("General")
		+manual-menu-item("Introduction", "index.html")
		+manual-menu-item("Architecture", "architecture.html")
		+manual-menu-item("Installation", "installation.html")
	+manual-menu("Language")
		+manual-menu-item("Tour", "tour.html")
		+manual-menu-item("Guide", "guide.html")
		+manual-menu-item("Language", "language.html")
		+manual-menu-item("Core Classes", "classes.html")
	+manual-menu("Modules")
		+manual-menu-item("HTTP", "http.html")
	+manual-menu("Nodes")
		+manual-menu-item("Overview", "nodes-overview.html")
		+manual-menu-item("Reference", "nodes-reference.html")
	+manual-menu("Scenes")
		+manual-menu-item("Overview", "scenes-overview.html")
		+manual-menu-item("Reference", "scenes-reference.html")
	+manual-link("IDE", "ide.html")
