name: MacOS

on: [push]

jobs:
  verify-macos:
    runs-on: macos-10.15

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Configure
      run: cmake -Brelease -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cd release && make

    - name: Test
      run: cd release && make test

    - name: Package
      run: cd release/bin && tar cvfz ../../macos.tgz ot

    - name: Release
      uses: "svenstaro/upload-release-action@v2"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        tag: "development"
        file: macos.tgz
        overwrite: true
