name: Ubuntu

on: [push]

jobs:
  verify-ubuntu:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup libraries and tools
      run: |
        sudo apt update
        sudo apt install xorg-dev libegl-dev libgl1-mesa-dev x11proto-core-dev libx11-dev libwayland-dev libxkbcommon-x11-dev
        sudo apt install ninja-build glslang-tools

    - name: Configure
      run: cmake -B build -G "Ninja Multi-Config"

    - name: Build
      run: cmake --build build --config Release

    - name: Test
      run: ctest --test-dir build --build-config Release --output-on-failure

    - name: Package
      run: |
        cd build/Release
        tar cvfz ../../ubuntu.tgz ot

    - name: Release
      uses: "svenstaro/upload-release-action@v2"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        tag: "development"
        file: ubuntu.tgz
        overwrite: true
