name: Windows

on: [push]

jobs:
  verify-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Configure
      run: cmake -B build -G "Visual Studio 17 2022" -A x64

    - name: Build
      run: cmake --build build --config Release

    - name: Test
      run: ctest --test-dir build --build-config Release --output-on-failure

    - name: Package
      run: |
        cd build/Release
        7z a ../../windows.zip ot.exe

    - name: Release
      uses: "svenstaro/upload-release-action@v2"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        tag: "development"
        file: windows.zip
        overwrite: true
